.line-chart{
    width:1050px;    
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.gridX line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.gridX path {
  stroke-width: 0;  
}

.gridVisible {
    visibility: visible;
}

.gridHidden {
    visibility: hidden;
}

.gridY{
    margin-top:50px;
}
.gridY line {
  stroke: #ddd;
  stroke-opacity: 0.7;   
}

.gridY path {
  stroke-width: 0;  
}

.selectMulti{
    font-size:.9em;
    height:4em;
    border:1px solid #ccc;
    border-radius: 2px;
}

.yLabelText{
    transform: rotate(90deg); 
    font-size:.9em;  
}

.area{
    fill:lightsteelblue;
    stroke-width:0;
}