body, div {
    font-size:.9em;
}

form input {
    height:.8em;
}

.input-narrow {
    width:40px;
    height:1.5em;
    border:1px solid #ccc;
    border-radius: 2px;
}

.input-medium{
    height:1.5em;
    width:100px;
    border:1px solid #ccc;
    border-radius: 2px;
}

.selectMulti{
    font-size:.9em;
    height:4em;
    border:1px solid #ccc;
    border-radius: 2px;
}

.div-centered{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}